.main_header{
    height: 44px;
    background-color: #f07d00
}
.image{
    margin-top:10px;
}
.header_logo{
    color: white;
    margin-left: -10px;
    font-family: serif;
    margin-top: 4px;
}
.details_header{
    width: 15px;
    height: 13px;
    margin-top: 21px;
    margin-left: 10px;
}   
.navbar{
    padding: 0px !important;
    border-style: solid;
    border-color:azure;
    border-width: 2px 0px 0px 0px;
    background: white;
}
.figure-align{
    margin-left: -7px !important;
    font-size: 0.75rem !important
}
.order{
    font-size: 0.75rem !important
}
.item-title{
    font-family: fantasy;
    font-size: 2rem;
    color: #f07d00;
    margin-top: 30px;
    margin-left: 10px;
}
.item-image{
    width: 75px;
    height: 45px;
    margin-left: 40px;
    margin-top: 30px;
}
.items{
    height:100px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color:#ececec;
}
.details{
    width: 20px;
    height: 15px;
    margin-top: 50px;
    margin-left: 20px;
}